<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11G63</string>
	<key>CFBundleExecutable</key>
	<string>KlangFalter</string>
	<key>CFBundleIdentifier</key>
	<string>com.hifi-lofi.KlangFalter</string>
	<key>CFBundleName</key>
	<string>KlangFalter</string>
	<key>CFBundlePackageType</key>
	<string>TDMw</string>
	<key>CFBundleShortVersionString</key>
	<string>2013.01.06beta</string>
	<key>CFBundleSignature</key>
	<string>PTul</string>
	<key>CFBundleVersion</key>
	<string>2013.01.06beta</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>4D199</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>11G63</string>
	<key>DTSDKName</key>
	<string></string>
	<key>DTXcode</key>
	<string>0420</string>
	<key>DTXcodeBuild</key>
	<string>4D199</string>
	<key>NSHumanReadableCopyright</key>
	<string>HiFi-LoFi</string>
</dict>
</plist>
